[submodule "public/wp-content/themes/memuller"]
	path = public/wp-content/themes/memuller
	url = https://gitlab.com/memuller.web/wp_theme.git
[submodule "public/wp-content/themes/jeancatanho"]
	path = public/wp-content/themes/jeancatanho
	url = https://github.com/jensmcatanho/publisher-theme.git
